<% if !current_developer && !current_guest %>
  <h1>Bem vindo</h1>
  <%= link_to "Convidado", new_guest_session_path %>
  <%= link_to "Desenvolvedor", new_developer_session_path %>
<% end %>

<% if current_guest or current_developer %>
  <% controller.redirect_to :controller => 'posts' %>
<% end %>
