<%= stylesheet_link_tag 'pages' %>
<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
</div>
<div class="container-fluid main-div">
    <div class="row">
        <div class="col main-card ">
            <div class="card text-center box-shadow p-2" style="min-height: 150px">
                <h1>We don't have this functionality yet. 😪</h1>
                <h2>Why? Maybe we didn't have time.</h2>
                <h2>TIME IS MONEY!</h2>
                <h2>⌛ = 💵</h2>
                <h2>Help us to keep developing!!</h2>
                <a href="https://www.catarse.me/iae_bots_project">CLICK HERE TO DONATE</a>
                </h2>
            </div>
        </div>
    </div>  
</div>


