<%= stylesheet_link_tag 'bots' %>

<% if !@bots.nil? && !@bots.empty? %>
  <div class = "text-center">
   <h3 class = "card-header">Bots found</h3>
  </div>  
  <% @bots.each do |bot| %>
        <%= render @bots %>
  <% end %>
<% end %>

<% if !@developers.nil? && !@developers.empty? %>
<h3>Developers found</h3>
  <% @developers.each do |d| %>
    <div class="container">
      <div class="row">
        <p>Name:</p>
        <%= d.name %>
      </div>
      <div class="row">
        <p>Username:</p>
        <%= link_to '@' + d.username, developer_path(id: d.id) %>
      </div>
    </div>
  <% end %>
<% end %>

<% if (@bots.nil? || @bots.empty?) && (@developers.nil? || @developers.empty?) %>
  <br/>
  <div class = "text-center">
    <h1 class = "card-header">nothing found 😰</h1>
  </div>
<% end %>
