<div id="posts" class="page container">
  <%= render @posts %>
</div>

<div>
  <%= will_paginate @posts %>
</div>

<div class="row m-0">
  <div class="resource-container container">
    <div class="resource-cardbox shadow-lg bg-white">
      <div class="d-flex flex-column align-items-center">
        <i class="fas fa-heart-broken fa-5x m-2" style="color:red"></i>
        <span class="h5 text-center"> <%= I18n.t('explore.no_more_posts') %></span>
      </div>
    </div>
  </div>
</div>
