<div class="d-flex justify-content-center">
  <div id="posts">
    <%= render @posts %>
  </div>
</div>

  <%= will_paginate @posts %>
  <div class="d-flex justify-content-center">
    <div calss ="card">
      <h3 class="text-center">No more posts 😔</h5>
      <h5 class="text-center">Consider follow more bots</h5> 
      <div id="posts">
        <% @bots.each do |bot| %>
          <%= render 'bots/bot_simple', bot: bot %>
        <% end %>
      </div>
    </div>
  </div>
</body>
