<div id="posts" class="page container">
  <%= render @posts %>
</div>

<div>
  <%= will_paginate @posts %>
</div>

<div class="row m-0">
  <div class="resource-container container">
    <div class="resource-cardbox shadow-lg bg-white">
      <div class="d-flex flex-column align-items-center">
        <i class="fa fa-calendar-check fa-5x m-2" style="color:green"></i>
        <span class="h5 text-center"> <%= I18n.t('posts.all_caught_up') %>
          <a href="explore"><%= I18n.t('posts.explore')%></a></span>
      </div>
    </div>
  </div>
</div>

