<!DOCTYPE html>
<%= stylesheet_link_tag 'feed' %>

<head></head>
<body>

<div class="page-header">
  <h1 class = "center">
    Bots activities
  </h1>
</div>


  <div class="d-flex justify-content-center">
    <div id="posts">
     <% if @posts.empty? %>
       <p>Você deve seguir algum bot para ver suas publicações.</p>
     <% end %>
     <%= render @posts %>
    </div>
  </div>

  <%= will_paginate @posts %>
</body>
