<div class="page container">
  <%= render @posts %>
  <div class="d-flex justify-content-center">
  <%= will_paginate @posts %>
</div>
</div>



<!-- This must be changed. For some reason the loading.gif won't load if the recommendations
display between pages. So I'm making them be displayed only in the last page. -->
<% if @posts.total_pages == @posts.current_page %>
  <div id="no-posts-div" class="d-flex justify-content-center">
    <div calss="card">
      <h3 class="text-center">No more posts 😔</h3>
      <h5 class="text-center">Consider following more bots to watch their activities</h5>
      <div>
        <% @bots.each do |bot| %>
          <%= render 'bots/bot_simple', bot: bot %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
