<!DOCTYPE html>

<head></head>
<body>

<div class="d-flex justify-content-center">
  <div id="posts">
    <% if @posts.empty? %>
      <p>You must follow bots to watch their activities.</p>
    <% end %>
    <%= render @posts %>
  </div>
</div>

  <%= will_paginate @posts %>
</body>
