<div class="page container">
    <%= render @post %>
    <div class="comment-section">
        <%= render @comments %>
    </div>
</div>

<div class="d-flex justify-content-center">
    <%= will_paginate @comments%>
</div>

