@import "bootstrap/scss/bootstrap";
@import "bootstrap-tagsinput";

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  .dev{
    background-color: white;
  }
}
.dropdown-user{
  min-width: 200px;
}
.page {
  margin-top: 75px;
}

#notice-wrapper {
  margin: auto;
  width: 30%;
  margin-left: 35%;
  position: absolute;
  z-index: 999;
  background: #2E0724;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;


  p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ca0d0d;
    letter-spacing: 1px;
  }
}
.navbar-toggler-custom{ 
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 0.25rem;
  background-color: #5b488372;
  border: 0;
}

.navbar-expand-lg .navbar-nav .nav-link{
  margin: 0.5rem;
  background-color: #5b4883;
  border-radius: 15px;
  min-width: 100px;
  text-align: center;
  font-weight: bold;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #5b4883;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-control:focus {
  border-color: #9e788e !important;
  box-shadow: 0 0 0 0 !important;
}

.btn:focus{
  border-color: #9e788e !important;
  box-shadow: 0 0 0 0 !important;
}

a{
  color: #5b4883 !important;
}
.alert-danger{
  overflow-wrap: break-word;
}

.wave{
  width: 100%;
  height: 50px;
  bottom: 0;
}