
.cover-img-cropper {
  max-width: 640px;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#profile-card-img-top {
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  //margin-top: -20px;
  position: absolute;
}
  .col {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  
  .card {
    width: 100%;
  }

  #profile-card {
    max-width: 640px;
  }
  
  .card-tab {
    max-width: 640px;
    width: 100%;
  }
  
  .parent {
    margin-left: -12px;
    margin-top: 20px;;
  }
  
  .rounded-circle {
    width: 100px;
    height: 100px;
    z-index: 999;
    margin-top: -80px;
    position: absolute;
  }
  
  .card-title {
    margin-top: 10px;
    font-weight: 700;
  }
  
  .parent {
    display: flex;
    justify-content: space-between;
  }
  
  .bot-name {
    margin-left: 10px;
  
    p {
      margin-left: 5px;
      margin-top: -15px;
      font-weight: 400;
    }
  }


.follow-button {
  align-items: flex-end;
  margin-right: 10px;

  .btn {
    border-radius: 20px;
  }
}

.dev-bio {
  max-width: 300px;
  -webkit-box-shadow: -8px 0 0 0 #4E4E56, 8px 7px 6px -3px rgba(0,0,0,0.49);
  box-shadow: -8px 0 0 0 #4E4E56, 8px 7px 6px -3px rgba(0,0,0,0.49);
}

.dev-bio-card{
  display: flex;
}

.edit-button {
  margin-top: 15px;
  align-items: flex-end;
  margin-right: 10px;

  .btn {
    border-radius: 20px;
  }
}

.card-img-top {
  height: 180px;
}

//css from login page

.field_with_errors  {
  min-width: 270px;
  border: 1px solid red !important;
  border-radius: 0.25rem;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(255, 255, 255) !important;
}
.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background-size: cover;
    border: 6px solid #343a40;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}

.text_gray {
  color: #343a40;
}

div.user_card {
  height: 450px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #343a40;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  text-align: center;
}

.brand_logo_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -75px;
  border-radius: 50%;
  background: rgb(255,255,255);
  background-size: cover;
  border: 6px solid #343a40;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.date {
  color: #8a9ba8;
  font-size: 15px;
  font-weight: 400;
  margin-top: -15px;
}
 /* Customize the label (the container) */
 .container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ced4da;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

.rounded-circle {
  background-color: white;
}