.card-img-top {
    height: 180px;
  }
  
  .col {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  
  .card {
    max-width: 640px;
    width: 100%;
  }
  
  .parent {
    margin-left: -12px;
  }
  
  .rounded-circle {
    width: 100px;
    height: 100px;
    z-index: 999;
    margin-top: -100px;
  }
  
  .card-title {
    margin-top: 10px;
    font-weight: 700;
  }
  
  .parent {
    display: flex;
    justify-content: space-between;
  }
  
  .dev-name {
    margin-left: 10px;
  
    p {
      margin-left: 5px;
      margin-top: -15px;
      font-weight: 400;
    }
  }
  
  .follow-button {
    align-items: flex-end;
    margin-right: 10px;
  
    .btn {
      border-radius: 20px;
    }
  }
  
  
  .dev-container {
    margin-top: -50px;
    box-sizing: border-box;
  }
  
  .dev {
    width: 100%;
    margin-top: 53px;
    box-sizing: border-box;
  }
  
  #dev .dev img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 58px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    float: left;
    clear: both;
  }
  
  .username {
    padding: 8px;
    box-sizing: border-box;
    max-width: 90%;
    float: left;
    margin-top: -10px;
    margin-left: 10px;
  }
  
  .dev .name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  
  .dev .handle {
    font-size: 15px;
    font-weight: 400;
    color: #8a9ba8;
    margin-top: -5px;
  }
  
  .dev-content {
    width: 100%;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 28px;
    margin-top: -15px;
  }
  
  .center_objects{
    display: flex;
    margin-top: 5px;
    margin-right: -20px;
    margin-left: 20px;
    object-position: center;
  }
  