// css from feed


div.bot_card {
    height: 450px;
    width: 15%;
    margin-top: 40px;
    margin-left: -2px;
    margin-right: 10px;
    margin-bottom: auto;
    background: #343a40;
    position: fixed;
    left: 85%;
    display: flex;
    overflow: hidden;
    justify-content: right;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    text-align: center;

}

.custom_class{
    display: none;
}
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@include make-container();
*/
div.post_card {
    height: auto;
    width: 35%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background: #343a4000;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
    //@include make-container();
    //width: none;
    //height: none;
}
  
@media (max-width: 993px) { 
    div.post_card {
        height: auto;
        width: 50%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        background: #343a4000;
        position: relative;
        top: 50px;
        left: 0%;
        display: flex;
        justify-content: center;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        //@include make-container();
        //width: none;
        //height: none;
    }
} 
@media (max-width: 575.98px) { 
    div.bot_card {
        display: none;
        height: 450px;
        width: 15%;
        margin-top: 130px;
        margin-left: auto;
        margin-right: 10px;
        margin-bottom: auto;
        background: #343a40;
        position: relative;
        justify-content: right;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        text-align: center;

    }

    div.post_card {
        height: auto;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: auto;
        background: #343a4000;
        position: relative;
        top: 50px;
        left: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        //@include make-container();
        //width: none;
        //height: none;
    }
    
}
