//css from login page

.field_with_errors input {
  min-width: 270px;
  border: 1px solid red !important;
}

body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: rgb(255, 255, 255) !important;
    }
    .gambiarra{
        color: #343a40;
    }
    div.user_card {
        height: 450px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #343a40;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        text-align: center;

    }
    .brand_logo_container {
        position: absolute;
        height: 150px;
        width: 150px;
        top: -75px;
        border-radius: 50%;
        background: rgb(255,255,255);
        background-size: cover;
        border: 6px solid #343a40;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .form_container {
        margin-top: 100px;
    }
  /*  .login_btn {       //change collor icons before box text
        width: 100%;
        background: #e9ecef !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #e9ecef !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #e9ecef !important;
    }
    */