// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

body{
    text-align: center !important;
    background: linear-gradient(#a9b3ce 50%, #9e788f 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-attachment: fixed;
}

ul {
  list-style-type: none;
}

main, .particles-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-panel{
  margin: 10px;
  padding-inline: 10px;
  border-radius: 15px;
  background-color: #c4c4d6;
  -webkit-box-shadow: 0px 10px 10px -1px #2d0623; 
  box-shadow: 0px 10px 10px -1px #2d0623;
  z-index: 0;
}
.user-features {
  color: #2D0623;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.user-feature {
  font-size: 24px;
  line-height: 1.5;
  padding: 5px 0;
}

.user-feature-icon{
  color: #9E788F;
}

.user-icon{
  width: 200px!important; 
  height: auto;
}

.btn-emoji{
  margin-bottom: 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.btn-emoji span {
  opacity: 0;
  font-size: 20px;
  transition: 1s;
  position: absolute;
  right: 10px;
  top: 15px;
  transition: transform 1;
}

.btn-emoji div {
  transition: transform 0.8s;
}

.btn-emoji:hover div {
  transform: translateX(-15px);
}

.btn-emoji::after {
  content: "";
  background-color: #7cdedc;
  border-radius: 5px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-emoji:hover span {
  opacity: 1;
  transform: translateX(-6px);
}

.btn-emoji:hover::after {
  top: 0px;
  left: 0px;
}

.welcome-text{
  color: #2d0623;
  font-family: 'Raleway',sans-serif;
  font-size: 62px; font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #2d0623;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px;

}

.welcome-text::after {
  content: "";
  background-color: #beeeed;
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.slogan-text{ 
  color: #2d0623;
  font-family: 'Raleway',sans-serif;
  font-size: 30px; font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
  letter-spacing: 1px;
  border: 1px solid #2d0623;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px;
}
.slogan-text::after {
  content: "";
  background-color: #c4c4d6;
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
