// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

.max-post-img{
    max-height: 50vh;
    max-width: 50vw;
}

.overflow {
    width: 10em;
  outline: 1px solid #000;
  margin: 0 0 2em 0;
  
  /**
   * Required properties to achieve text-overflow
   */
    white-space: nowrap;
    overflow: hidden;
}
.card{
    background-color:transparent;
    border: unset;
    height:100%;
}

.btn-user{
    background-color: rgba(134, 55, 123, 0.666);
    margin: 5px;
    color: white;
    font-size: 10vw;
}
.btn-user.dev{
    background-color: rgba(78, 78, 134, 0.666);
}

.profile-pic {
    display: inline;
    margin: 0 auto 0 -15%; //centers the image
    height: 100%;
    width: 100%;
}

#onhover-verified-icon {
    visibility: hidden;
    position: relative;
    margin-left: 10px;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
  }
  
#verified-icon:hover ~ #onhover-verified-icon {
    visibility: visible;
}
.image-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
  }
.main-div{
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
    max-height: 100vh;
    margin-bottom: 5px
}

clip { text-overflow: clip; }
.main-card{
    margin: 15px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}
.post-card{
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.post-card::-webkit-scrollbar {
    display: none;
}

h1{
    font-weight: bold;
    font-size: 9vmin;
    color:rgb(255,255,255);
}

h2{
    font-size: 6vmin;
    color:rgb(199, 199, 199);
}
h6{
    font-size: 5vmin;
    color:rgb(255,255,255);
}

.card-body{
    padding-top: 0;
}
.card-post{
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-height: 600px) {
    #post-newest {
        display: none;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
  }
  
  .waveWrapper {
    z-index: -20;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-image: linear-gradient(to top, #86377b 20%, #4e4e86 80%);
  }
  
  .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100vh;
  }
  
  .bgTop {
    z-index:-5;
    opacity: 0.5;
  }

  .bgMiddle {
    z-index: -10;
    opacity: 0.75;
  }

  .bgBottom {
    z-index: -12;
  }

  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }

  .waveTop {
    background-size: 50% 100px;
  }

  .waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
  }

  .waveMiddle {
    background-size: 50% 120px;
  }

  .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
  }

  .waveBottom {
    background-size: 50% 100px;
  }

  .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
  }