// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/bootstrap";

.profile-pic {
    display: inline;
    margin: 0 auto 0 -15%; //centers the image
    height: 100%;
    width: auto;
  }
  
.main-div{
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
}

.main-card{
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

h1{
    font-weight: bold;
    //font-size: 15vw;
    color:rgb(255,255,255);
}

h2{
    //font-size: 10vw;
    color:rgb(199, 199, 199);
}