.page {
  margin-top: 75px;
}

.center {
  padding-top: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.post-cardbox {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0px !important;
  .avatar{
    width: 54px;
    height: 54px;
  }
}
.post-cardbox:hover{
  transition:all 0.3s ease;
  background:#a9b3ce82 !important;

}

.post-cardbox .post-cardbox-heading {
  padding-inline: 16px;
  padding-block: 8px;
  margin: 0;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
  padding-top: 6px;
}

.media-text{
  padding-inline: 16px;
  padding-block: 8px;
  position: relative;
  display: block;
}

.media-item {
  position: relative;
  display: block;
}
.media-responsive{
  display: block;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  object-position: 50% 50%;
}	

.cardbox-base{
  border-bottom: 2px solid #f4f4f4;
 }	
 .cardbox-base ul{
  margin: 10px 16px 10px 16px !important;
  padding: 10px !important;
  display: inline-block;
 }
 .cardbox-base li{
   list-style: none;
   margin: 0px !important;
   padding: 0px !important;
   display: inline-block;
 }
 
 .cardbox-base li a{
   margin: 0px !important;
   padding: 0px !important;
 }
 .cardbox-base li a i{
  position: relative;
  top: 4px; 
  font-size: 16px;
  color: #8d8d8d;
  margin-right: 16px;
 }

 a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/*
#onhover-heart-icon {
  visibility: hidden;
  position: absolute;
  margin-top: -50px;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px Arial;
}

#heart-icon:hover ~ #onhover-heart-icon {
  visibility: visible;
}

#onhover-comments-icon {
  visibility: hidden;
  position: absolute;
  margin-top: -80px;
  margin-left: 50px;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px Arial;
}

#comments-icon:hover ~ #onhover-comments-icon {
  visibility: visible;
}

.dropdown {
  color: black;
  float: right;
  display: inline-block;
  padding-top: 8px;
  margin-right: -18px;
  position: relative;
  box-sizing: border-box;
  font-size: 20px;
}

#comment {
  margin: 0;
  padding-left: 20px;
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  border-left-width: 10px;
  border-left-style: outset;
}

.post-container {
  margin-top: -50px;
  box-sizing: border-box;
}

.bot {
  width: 100%;
  margin-top: 53px;
  box-sizing: border-box;
}

#post .bot img {
  width: 54px;
  height: 54px;
  object-fit: cover;
  border-radius: 58px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
  float: left;
  clear: both;
}

.username {
  padding: 8px;
  box-sizing: border-box;
  max-width: 90%;
  float: left;
  margin-top: -10px;
  margin-left: 10px;
}

.bot .name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
}

.bot .handle {
  font-size: 15px;
  font-weight: 400;
  color: #8a9ba8;
  margin-top: -5px;
}

.post-content {
  width: 100%;
  display: inline-block;
  font-size: 23px;
  margin-bottom: 15px;
  line-height: 28px;
  margin-top: -15px;
}

a {
  color: #1da2f4;
  text-decoration: none;
}

.date {
  color: #8a9ba8;
  font-size: 15px;
  font-weight: 400;
  margin-top: -15px;
}

.icons {
  margin-top: 10px;
}

.likes {
  padding-left: 5px;
  float: left;
  margin-right: 20px;
}

.pt {
  padding-top: 13px;
}

.pb {
  padding-bottom: 13px;
}

.pr {
  padding-right: 13px;
}

.pl {
  padding-left: 13px;
}

#will {
  a {
    background: #2e0724;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
}

.digg_pagination {
  background: white;
  cursor: default;
}

.digg_pagination a,
.digg_pagination em,
.digg_pagination span {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.digg_pagination .current {
  font-weight: 900;
  color: white;
  border: 1px solid #2e0724;
  border-radius: 5px;
}

.digg_pagination a {
  text-decoration: none;
  color: white;
  border: 1px solid #2e0724;
  border-radius: 5px;
}

.digg_pagination a:focus,
.digg_pagination a:hover {
  color: #9e788f;
  border-color: #2e0724;
  border-radius: 5px;
  -webkit-transform: translate(0px, 5px) scale(1.05);
  transform: translate(0px, 5px) scale(1.05);
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}
@media (max-width: 800px) {
  #comment {
    margin: 0;
    padding: 0;
    max-width: 640px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-top: 0;
    border-radius: 5px;
  }

  #three-dots-menu {
    font-size: medium;
  }
}*/